{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
    

      <h2>Sign-up for an account</h2>
      <p style="color:red;">{{ login_error }}</p>
  {{#valRed}}
    <h3>User account created! <a href='/login'>Login</a> to access your new account.</h3>
  {{/valRed}} 
      <form action="/login/addUser" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username"> <br /> <br />
        <label for="password">Password:</label>
        <input type="text" name="password"> <br /> <br />
        <input type="submit" value="Login">
      </form> <br />
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
